{% extends 'LoanCore/base.html' %}



{% block body  %}


<div class="right_col" role="main">

<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">

                            <div class="x_content">

                                <form  method="POST" action="" class="form-horizontal form-label-left" >
                                        {% csrf_token %}
                                    <span class="section">Loan Form Issue</span>

                                    <input id="cust_id" class="form-control col-md-7 col-xs-12" name="cust_id" type="hidden" value = "{{ cust_details.cust_id }}">




                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_name">Customer Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_name" class="form-control col-md-7 col-xs-12" name="cust_name" value="{{ cust_details.cust_name }}" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_tel1">Telephone1 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_tel1" class="form-control col-md-7 col-xs-12" value="{{ cust_details.cust_tel1 }}" name="cust_tel1" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_email">Email  <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_email" class="form-control col-md-7 col-xs-12" value="{{ cust_details.cust_email }}" name="cust_tel1" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="issue_date">Date of Issue
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="issue_date" class="form-control col-md-7 col-xs-12" name="issue_date"  type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loan_amount">Loan Amount <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="loan_amount" class="form-control col-md-7 col-xs-12" name="loan_amount" required="required" type="text">
                                        </div>
                                    </div>


                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Loan Type
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <select name="loan_type" class="form-control">


                                                <option value=''> -- Select --    </option>
                                                <option value='Option 1'> Option 1    </option>
                                                <option value='Option 2'> Option 2 </option>



                                            </select>                                            </div>


                                    </div>

<!--                                    <img id="loading"    width="300" height="300" src="file_upload/loader.gif" /> &lt;!&ndash; Loading Image&ndash;&gt;-->
                                    <div id="loading2" style="display:none;"><img src="http://article.onlinewebtool.com/wp-content/images/loading.gif" alt="" />Loading!</div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


    </div>




{% endblock %}