<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Loan App | </title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static '/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link href="{% static '/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- NProgress -->
  <link href="{% static '/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
  <!-- iCheck -->
  <link href="{% static '/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

  <!-- bootstrap-progressbar -->
  <link href="{% static '/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
  <!-- JQVMap -->
  <link href="{% static '/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
  <!-- bootstrap-daterangepicker -->
   <link href ="{% static '/vendors/bootstrap-daterangepicker/daterangepicker.js' %}">
<!-- bootstrap-datetimepicker -->
   <link href ="{% static '/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}">
  <!-- Custom Theme Style -->
  <link href="{% static '/build/css/custom.min.css' %}" rel="stylesheet">

    <!-- Datatables -->
    <link href="{% static '/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}"   rel="stylesheet">


</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="{% url 'index' %}" class="site_title"><i class="fa fa-fire"></i> <span> LOS </span></a>
        </div>

        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <!-- /menu profile quick info -->
        <br />

        <!-- sidebar menu -->
       <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="index2.html">Dashboard2</a></li>
                    <li><a href="index3.html">Dashboard3</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-th"></i> Branch <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{% url 'customer_details' %}">Customer Details</a></li>
                    <li><a href="{% url 'form_issue_details' %}">Form Issue</a></li>
                    <li><a href="{% url 'loan_inwardform_details' %}">Form Inward</a></li>
                    <li><a href="#">CIBIL Check </a></li>
                    <li><a href="{% url 'brief_profile_details' %}">Brief Profile </a></li>
                    <li><a href="{% url 'working_capital_limit_details' %}">Working Capital Limits </a></li>
                    <li><a href="{% url 'term_details' %}">Nature Of Limits </a></li>
                    <li><a href="{% url 'nature_of_security_details' %}">Nature Of Security </a></li>
                    <li><a href="{% url 'financial_analysis_details' %}">Financial Analysis </a></li>
                    <li><a href="{% url 'gist_projection_details' %}">GIST Of Projection </a></li>
                    <li><a href="#">Office Checking </a></li>
                    <li><a href="#">Manager Checking </a></li>
                    <li><a href="#">Form Send to HO </a></li>
                </ul>
            </li>
<!--            <li><a><i class="fa fa-bar-chart-o"></i> Head Office <span class="fa fa-chevron-down"></span></a>-->
<!--                <ul class="nav child_menu">-->
<!--                    <li><a href="">File Inward </a></li>-->
<!--                    <li><a href="">Clerk </a></li>-->
<!--                    <li><a href="#">Loan Officer</a></li>-->
<!--                    <li><a href="#">HOD Loan</a></li>-->
<!--                    <li><a href="#">Send to CEO</a></li>-->
<!--                    <li><a href="#">Send to Branch</a></li>-->
<!--                    <li><a href="#">Calendar</a></li>-->

<!--                </ul>-->
<!--            </li>-->
<!--            <li><a><i class="fa fa-desktop"></i> Senior Executive <span class="fa fa-chevron-down"></span></a>-->
<!--                <ul class="nav child_menu">-->
<!--                    <li><a href="#">File Inward</a></li>-->
<!--                    <li><a href="#">CEO</a></li>-->
<!--                    <li><a href="#">Board Approve</a></li>-->
<!--                    <li><a href="#">Sanction</a></li>-->
<!--                    <li><a href="#">Send to Loan Process</a></li>-->
<!--                </ul>-->
<!--            </li>-->
            <li><a><i class="fa fa-edit"></i> Settings <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Reset Password</a></li>
                    <li><a href="#">Sign Out</a></li>

                </ul>
            </li>



        </ul>
    </div>

</div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->

        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                <li role="presentation" class="dropdown">
{% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
{% else %}
                                  <a href="{% url 'login' %}"><i class="fa fa-sign-out pull-right"></i> Log In</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>
    <!-- /top navigation -->

    <!-- page content -->
    {% block body  %}
      {% endblock %}
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        Open Tech
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>

<!-- jQuery -->
<script src="{% static '/vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static '/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static '/vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static '/vendors/nprogress/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static '/vendors/Chart.js/dist/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static '/vendors/gauge.js/dist/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static '/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static '/vendors/iCheck/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static '/vendors/skycons/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static '/vendors/Flot/jquery.flot.js' %}"></script>
<script src="{% static '/vendors/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static '/vendors/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static '/vendors/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static '/vendors/Flot/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static '/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static '/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static '/vendors/flot.curvedlines/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static '/vendors/DateJS/build/date.js' %}"></script>
<!-- JQVMap -->
<script src="{% static '/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
<script src="{% static '/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static '/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static '/vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static '/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!-- Datatables -->
    <script src="{% static '/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static '/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static '/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static '/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static '/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static '/vendors/toastr/toastr.min.js' %}"></script>
    <script src="{% static '/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>

<!--<script>-->

<!--    $('#datatable-responsive1').dataTable();-->
<!--</script>-->

<!-- Custom Theme Scripts -->
<script src="{% static '/build/js/custom.min.js' %}"></script>
{% block extra_js %}
{% endblock extra_js %}
</body>
</html>
