{% extends 'LoanCore/base.html' %}

{% load static %}

{% block body  %}


<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <form method="POST" action="" class="form-horizontal form-label-left" >
                                {% csrf_token %}
                    <h1>Customer Name : {{cust_details.cust_name}}</h1>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps">
                            <li>
                                <a href="#step-1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">
                                              Step 1<br />
                                              <small>Generic Details</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">
                                              Step 2<br />
                                              <small>Directors and Guarantors Details</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">
                                              Step 3<br />
                                              <small>Nature of Loan Details</small>
                                          </span>
                                </a>
                            </li>

                        </ul>
                        <div id="step-1">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="line_activity">Line Of activity <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="line_activity" name="line_activity" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="constitution">Constitution <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="constitution" name="constitution" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="established_in" class="control-label col-md-3 col-sm-3 col-xs-12">Established In</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="established_in" class="form-control col-md-7 col-xs-12" type="text" name="established_in">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dealing_with_us_since" class="control-label col-md-3 col-sm-3 col-xs-12">Dealing with us since</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="dealing_with_us_since" class="form-control col-md-7 col-xs-12" type="text" name="dealing_with_us_since">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="location" class="control-label col-md-3 col-sm-3 col-xs-12">Location</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="location" class="form-control col-md-7 col-xs-12" type="text" name="location">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Priority/Non-priority</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div id="priority" class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="priority" value="priority"> &nbsp; Priority &nbsp;
                                            </label>
                                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="priority" value="Non-priority"> Non-priority
                                            </label>
                                        </div>
                                    </div>
                                </div>


                        </div>
                        <div id="step-2">


                                <h2> Name Of Proprietor / Partners / Directors </h2>
                                <input type="button" value="Add Row" onclick="addRow('dataTable')" />
	                            <input type="button" value="Delete Row" onclick="deleteRow('dataTable')" />

                                <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th class="column-title">Action </th>
                                        <th class="column-title">Name </th>
                                        <th class="column-title">Annual Income </th>
                                        <th class="column-title">Net Worth </th>
                                        <th class="column-title">CIBIL Score</th>

                                    </tr>
                                    </thead>
                                    <tbody>


                                    <tr>
                                        <td><input type="checkbox" name="chk"/></td>
                                        <td>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <input id="par_name[]" name="par_name[]" class="form-control col-md-12 col-xs-12" placeholder="Name" type="text">
                                            </div>
                                        </td>


                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="par_annual_income[]" class="form-control col-md-12 col-xs-12" name="par_annual_income[]"  placeholder="Annual Income" type="text">
                                        </div>
                                        </td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="par_net_worth[]" class="form-control col-md-12 col-xs-12" name="par_net_worth[]"  placeholder="Net worth" type="text">
                                        </div>
                                        </td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="par_cibil_score[]" class="form-control col-md-12 col-xs-12" name="par_cibil_score[]"  placeholder="CIBIL" type="text">
                                        </div>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>

                                <h2> Guarantors </h2>
                                <input type="button" value="Add Row" onclick="addRow1('example2')" />
	                            <input type="button" value="Delete Row" onclick="deleteRow1('example2')" />
                                <table id="example2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>

                                        <th class="column-title">Action </th>
                                        <th class="column-title">Name </th>
                                        <th class="column-title">Annual Income </th>
                                        <th class="column-title">Net Worth </th>
                                        <th class="column-title">CIBIL Score</th>

                                    </tr>
                                    </thead>
                                    <tbody>


                                    <tr>
                                        <td><input type="checkbox" name="chk"/></td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="guar_name[]" class="form-control col-md-12 col-xs-12" name="guar_name[]" placeholder="Name"  type="text">
                                        </div>
                                        </td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="guar_annual_income[]" class="form-control col-md-12 col-xs-12" name="guar_annual_income[]"  placeholder="Annual Income" type="text">
                                        </div>
                                        </td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="guar_net_worth[]" class="form-control col-md-12 col-xs-12" name="guar_net_worth[]"  placeholder="Net worth" type="text">
                                        </div>
                                        </td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="guar_cibil_score[]" class="form-control col-md-12 col-xs-12" name="guar_cibil_score[]"  placeholder="CIBIL" type="text">
                                        </div>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                        </div>
                        <div id="step-3">
                                <h2> Proposed / New </h2>
                            <input type="button" value="Add Row" onclick="addRow2('example3')" />
	                            <input type="button" value="Delete Row" onclick="deleteRow2('example3')" />
                                <table id="example3" class="table table-striped table-bordered " cellspacing="0" width="100%">
                                    <thead>
                                    <tr>

                                        <th class="column-title">Action </th>
                                        <th class="column-title">Nature of loan </th>
                                        <th class="column-title">By Party </th>
                                        <th class="column-title">By Branch </th>
                                        <th class="column-title">By HO </th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td><input type="checkbox" name="chk"/></td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="nature_name[]" class="form-control col-md-12 col-xs-12" name="nature_name[]" placeholder="Nature Of Loan"  type="text">
                                        </div>
                                        </td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="nature_by_party[]" class="form-control col-md-12 col-xs-12" name="nature_by_party[]"  placeholder="By Party" type="text">
                                        </div>
                                        </td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="nature_by_branch[]" class="form-control col-md-12 col-xs-12" name="nature_by_branch[]"  placeholder="By Branch" type="text">
                                        </div>
                                        </td>
                                        <td><div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="nature_by_ho[]" class="form-control col-md-12 col-xs-12" name="nature_by_ho[]"  placeholder="By HO" type="text">
                                        </div>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>

                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</div>





{% endblock %}

{% block extra_js %}

<script language="javascript">

  function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "checkbox";
			element1.name="chkbox[]";
			cell1.appendChild(element1);

			var cell2 = row.insertCell(1);
            var element2 = document.createElement("input");
            element2.className="form-control col-md-12 col-xs-12"
            element2.type = "text";
			element2.name = "par_name[]";
			element2.placeholder = 'name'
			cell2.appendChild(element2);

			var cell3 = row.insertCell(2);
			var element3 = document.createElement("input");
			element3.className="form-control col-md-12 col-xs-12"
			element3.placeholder = 'annual income';
			element3.type = "text";
			element3.name = "par_annual_income[]";
			cell3.appendChild(element3);

            var cell4 = row.insertCell(3);
			var element4 = document.createElement("input");
			element4.className="form-control col-md-12 col-xs-12"
			element4.placeholder = 'net worth';
			element4.type = "text";
			element4.name = "par_net_worth[]";
			cell4.appendChild(element4);

            var cell5 = row.insertCell(4);
			var element5 = document.createElement("input");
			element5.className="form-control col-md-12 col-xs-12"
			element5.placeholder = 'cibil';
			element5.type = "text";
			element5.name = "par_cibil_score[]";
			cell5.appendChild(element5);
		}

		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}


			}
			}catch(e) {
				alert(e);
			}
		}

//guarantors part

function addRow1(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "checkbox";
			element1.name="chkbox[]";
			cell1.appendChild(element1);

			var cell2 = row.insertCell(1);
            var element2 = document.createElement("input");
            element2.className="form-control col-md-12 col-xs-12"
            element2.type = "text";
			element2.name = "guar_name[]";
			element2.placeholder = 'name'
			cell2.appendChild(element2);

			var cell3 = row.insertCell(2);
			var element3 = document.createElement("input");
			element3.className="form-control col-md-12 col-xs-12"
			element3.placeholder = 'annual income';
			element3.type = "text";
			element3.name = "guar_annual_income[]";
			cell3.appendChild(element3);

            var cell4 = row.insertCell(3);
			var element4 = document.createElement("input");
			element4.className="form-control col-md-12 col-xs-12"
			element4.placeholder = 'net worth';
			element4.type = "text";
			element4.name = "guar_net_worth[]";
			cell4.appendChild(element4);

            var cell5 = row.insertCell(4);
			var element5 = document.createElement("input");
			element5.className="form-control col-md-12 col-xs-12"
			element5.placeholder = 'cibil';
			element5.type = "text";
			element5.name = "guar_cibil_score[]";
			cell5.appendChild(element5);
		}

		function deleteRow1(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}
			}
			}catch(e) {
				alert(e);
			}
		}



//Nature of loan part
function addRow2(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "checkbox";
			element1.name="chkbox[]";
			cell1.appendChild(element1);

			var cell2 = row.insertCell(1);
            var element2 = document.createElement("input");
            element2.className="form-control col-md-12 col-xs-12"
            element2.type = "text";
			element2.name = "nature_name[]";
			element2.placeholder = 'name'
			cell2.appendChild(element2);

			var cell3 = row.insertCell(2);
			var element3 = document.createElement("input");
			element3.className="form-control col-md-12 col-xs-12"
			element3.placeholder = 'By Party';
			element3.type = "text";
			element3.name = "nature_by_party[]";
			cell3.appendChild(element3);

            var cell4 = row.insertCell(3);
			var element4 = document.createElement("input");
			element4.className="form-control col-md-12 col-xs-12"
			element4.placeholder = 'By Branch';
			element4.type = "text";
			element4.name = "nature_by_branch[]";
			cell4.appendChild(element4);

            var cell5 = row.insertCell(4);
			var element5 = document.createElement("input");
			element5.className="form-control col-md-12 col-xs-12"
			element5.placeholder = 'BY HO';
			element5.type = "text";
			element5.name = "nature_by_ho[]";
			cell5.appendChild(element5);
		}

		function deleteRow2(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}
			}
			}catch(e) {
				alert(e);
			}
		}


 </script>
{% endblock extra_js %}

