{% extends 'LoanCore/base.html' %}

{% load static %}

{% block body  %}


<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                    <form  method="POST" action="" class="form-horizontal form-label-left" >
                        {% csrf_token %}
                        <span class="section">Add Nature Of Security Details</span>

                        <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th class="column-title">Nature Of Security </th>
                                <th class="column-title">Description </th>
                                <th class="column-title">Existing </th>
                                <th class="column-title">Proposed </th>
                                <th class="column-title">Recommended</th>

                            </tr>
                            </thead>
                            <tbody>


                            <tr>

                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="prime" name="prime" class="form-control col-md-12 col-xs-12" placeholder="Prime" type="text">
                                    </div>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="prime_description" class="form-control col-md-12 col-xs-12" name="prime_description"  placeholder="Description" type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="prime_existing" class="form-control col-md-12 col-xs-12" name="prime_existing"  placeholder="Existing" type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="prime_proposed" class="form-control col-md-12 col-xs-12" name="prime_proposed"  placeholder="Proposed" type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="prime_recommended" class="form-control col-md-12 col-xs-12" name="prime_recommended"  placeholder="Recommended" type="text">
                                    </div>
                                </td>
                            </tr>



                            <tr>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="additional_collateral" name="additional_collateral" class="form-control col-md-12 col-xs-12" placeholder="Additional/Collateral" type="text">
                                    </div>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="additional_description" class="form-control col-md-12 col-xs-12" name="additional_description"  placeholder="Description" type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="additional_existing" class="form-control col-md-12 col-xs-12" name="additional_existing"  placeholder="Existing" type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="additional_proposed" class="form-control col-md-12 col-xs-12" name="additional_proposed"  placeholder="Proposed" type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="additional_recommended" class="form-control col-md-12 col-xs-12" name="additional_recommended"  placeholder="Recommended" type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="fresh_collateral" name="fresh_collateral" class="form-control col-md-12 col-xs-12" placeholder="Fresh Collateral" type="text">
                                    </div>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="fresh_description" class="form-control col-md-12 col-xs-12" name="fresh_description"  placeholder="Description" type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="fresh_existing" class="form-control col-md-12 col-xs-12" name="fresh_existing"  placeholder="Existing" type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="fresh_proposed" class="form-control col-md-12 col-xs-12" name="fresh_proposed"  placeholder="Proposed" type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="fresh_recommended" class="form-control col-md-12 col-xs-12" name="fresh_recommended"  placeholder="Recommended" type="text">
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>

                                </td>


                                <td>
                                   <h4>Total Security</h4>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_security_existing" class="form-control col-md-12 col-xs-12" name="total_security_existing"  placeholder="Existing" type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_security_proposed" class="form-control col-md-12 col-xs-12" name="total_security_proposed"  placeholder="Proposed" type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_security_recommended" class="form-control col-md-12 col-xs-12" name="total_security_recommended"  placeholder="Recommended" type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>

                                </td>


                                <td>
                                   <h4>Exposure</h4>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="exposure_existing" class="form-control col-md-12 col-xs-12" name="exposure_existing"  placeholder="Existing" type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="exposure_proposed" class="form-control col-md-12 col-xs-12" name="exposure_proposed"  placeholder="Proposed" type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="exposure_recommended" class="form-control col-md-12 col-xs-12" name="exposure_recommended"  placeholder="Recommended" type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>

                                </td>


                                <td>
                                   <h4>Security %</h4>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="security_existing" class="form-control col-md-12 col-xs-12" name="security_existing"  placeholder="Existing" type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="security_proposed" class="form-control col-md-12 col-xs-12" name="security_proposed"  placeholder="Proposed" type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="security_recommended" class="form-control col-md-12 col-xs-12" name="security_recommended"  placeholder="Recommended" type="text">
                                    </div>
                                </td>

                            </tr>

                            </tbody>
                        </table>




                        <!--                                    <img id="loading"    width="300" height="300" src="file_upload/loader.gif" /> &lt;!&ndash; Loading Image&ndash;&gt;-->
                        <div id="loading2" style="display:none;"><img src="http://article.onlinewebtool.com/wp-content/images/loading.gif" alt="" />Loading!</div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
</div>


</div>





{% endblock %}

{% block extra_js %}

{% endblock extra_js %}

