{% extends 'LoanCore/base.html' %}

{% load static %}

{% block body  %}


<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                                <form  method="POST" action="" class="form-horizontal form-label-left" >
                                        {% csrf_token %}
                                    <span class="section">Add Working Capital Limits</span>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nature_of_limit">Nature of Limit <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="nature_of_limit" class="form-control col-md-7 col-xs-12" name="nature_of_limit" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="purpose">Purpose <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="purpose" class="form-control col-md-7 col-xs-12" name="purpose" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="amount">Amount <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="amount" class="form-control col-md-7 col-xs-12" name="amount" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="margin">Margin
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="margin" class="form-control col-md-7 col-xs-12" name="margin"  type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="margin">Prime Security
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="prime_security" class="form-control col-md-7 col-xs-12" name="prime_security"  type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="margin">Collateral
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="collateral" class="form-control col-md-7 col-xs-12" name="collateral"  type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="margin">Rate Of Interest
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="roi_applicable" class="form-control col-md-7 col-xs-12" placeholder="Applicable" name="roi_applicable"  type="text">
                                            <input id="roi_existing" class="form-control col-md-7 col-xs-12" placeholder="Existing" name="roi_existing"  type="text">
                                            <input id="roi_demand" class="form-control col-md-7 col-xs-12" placeholder="Demand" name="roi_demand"  type="text">
                                            <input id="roi_recommended" class="form-control col-md-7 col-xs-12" placeholder="Recommended" name="roi_recommended"  type="text">
                                        </div>
                                    </div>




<!--                                    <img id="loading"    width="300" height="300" src="file_upload/loader.gif" /> &lt;!&ndash; Loading Image&ndash;&gt;-->
                                    <div id="loading2" style="display:none;"><img src="http://article.onlinewebtool.com/wp-content/images/loading.gif" alt="" />Loading!</div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</div>





{% endblock %}

{% block extra_js %}


{% endblock extra_js %}

