{% extends 'LoanCore/base.html' %}

{% load static %}

{% block body  %}


<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                    <form  method="POST" action="" class="form-horizontal form-label-left" >
                        {% csrf_token %}
                        <span class="section">Add Nature Of Security Details</span>

                        <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th class="column-title">Parameters </th>
                                <th class="column-title">1st Year </th>
                                <th class="column-title">2nd Year </th>
                                <th class="column-title">3rd Year </th>
                                <th class="column-title">4th Year</th>

                            </tr>
                            </thead>
                            <tbody>


                            <tr>
                                <td>
                                    <h4>Own Funds</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="own_funds_first" class="form-control col-md-12 col-xs-12" name="own_funds_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="own_funds_second" class="form-control col-md-12 col-xs-12" name="own_funds_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="own_funds_third" class="form-control col-md-12 col-xs-12" name="own_funds_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="own_funds_fourth" class="form-control col-md-12 col-xs-12" name="own_funds_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Cash Credit</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="cash_credit_first" class="form-control col-md-12 col-xs-12" name="cash_credit_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="cash_credit_second" class="form-control col-md-12 col-xs-12" name="cash_credit_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="cash_credit_third" class="form-control col-md-12 col-xs-12" name="cash_credit_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="cash_credit_fourth" class="form-control col-md-12 col-xs-12" name="cash_credit_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Term Loan</h4>
                                </td>

                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="term_loan_first" class="form-control col-md-12 col-xs-12" name="term_loan_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="term_loan_second" class="form-control col-md-12 col-xs-12" name="term_loan_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="term_loan_third" class="form-control col-md-12 col-xs-12" name="term_loan_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="term_loan_fourth" class="form-control col-md-12 col-xs-12" name="term_loan_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Sales</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="sales_first" class="form-control col-md-12 col-xs-12" name="sales_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="sales_second" class="form-control col-md-12 col-xs-12" name="sales_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="sales_third" class="form-control col-md-12 col-xs-12" name="sales_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="sales_fourth" class="form-control col-md-12 col-xs-12" name="sales_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Gross Profit</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="gross_profit_first" class="form-control col-md-12 col-xs-12" name="gross_profit_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="gross_profit_second" class="form-control col-md-12 col-xs-12" name="gross_profit_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="gross_profit_third" class="form-control col-md-12 col-xs-12" name="gross_profit_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="gross_profit_fourth" class="form-control col-md-12 col-xs-12" name="gross_profit_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Interest on Term Loan</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_term_loan_first" class="form-control col-md-12 col-xs-12" name="interest_term_loan_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_term_loan_second" class="form-control col-md-12 col-xs-12" name="interest_term_loan_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_term_loan_third" class="form-control col-md-12 col-xs-12" name="interest_term_loan_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_term_loan_fourth" class="form-control col-md-12 col-xs-12" name="interest_term_loan_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Depriciation</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="depriciation_first" class="form-control col-md-12 col-xs-12" name="depriciation_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="depriciation_second" class="form-control col-md-12 col-xs-12" name="depriciation_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="depriciation_third" class="form-control col-md-12 col-xs-12" name="depriciation_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="depriciation_fourth" class="form-control col-md-12 col-xs-12" name="depriciation_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Total Cash Accrual</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="cash_accrual_first" class="form-control col-md-12 col-xs-12" name="cash_accrual_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="cash_accrual_second" class="form-control col-md-12 col-xs-12" name="cash_accrual_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="cash_accrual_third" class="form-control col-md-12 col-xs-12" name="cash_accrual_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="cash_accrual_fourth" class="form-control col-md-12 col-xs-12" name="cash_accrual_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>TL-repayment</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="repayment_first" class="form-control col-md-12 col-xs-12" name="repayment_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="repayment_second" class="form-control col-md-12 col-xs-12" name="repayment_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="repayment_third" class="form-control col-md-12 col-xs-12" name="repayment_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="repayment_fourth" class="form-control col-md-12 col-xs-12" name="repayment_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>TL-interest</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_first" class="form-control col-md-12 col-xs-12" name="interest_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_second" class="form-control col-md-12 col-xs-12" name="interest_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_third" class="form-control col-md-12 col-xs-12" name="interest_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_fourth" class="form-control col-md-12 col-xs-12" name="interest_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h4>DSCR</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="dscr_first" class="form-control col-md-12 col-xs-12" name="dscr_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="dscr_second" class="form-control col-md-12 col-xs-12" name="dscr_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="dscr_third" class="form-control col-md-12 col-xs-12" name="dscr_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="dscr_fourth" class="form-control col-md-12 col-xs-12" name="dscr_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>


                            </tbody>
                        </table>




                        <!--                                    <img id="loading"    width="300" height="300" src="file_upload/loader.gif" /> &lt;!&ndash; Loading Image&ndash;&gt;-->
                        <div id="loading2" style="display:none;"><img src="http://article.onlinewebtool.com/wp-content/images/loading.gif" alt="" />Loading!</div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
</div>


</div>





{% endblock %}

{% block extra_js %}

{% endblock extra_js %}

