{% extends 'LoanCore/base.html' %}

{% load static %}

{% block body  %}


<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                                <form  method="POST" action="" class="form-horizontal form-label-left" >
                                        {% csrf_token %}
                                    <span class="section">Add Term Loan Details</span>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nature_of_limit">Nature of Limit <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-3">

                                            <select name="nature_of_limit" id="nature_of_limit" class="form-control col-md-7 col-xs-12">
                                                <option value="">--Select--</option>
                                                <option value="Term Loan">Term Loan</option>
                                                <option value="Property Loan">Property Loan</option>
                                                <option value="Machinery loan">Machinery Loan</option>
                                                <option value="TPT"> TPT </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="purpose">Purpose <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="purpose" class="form-control col-md-7 col-xs-12" name="purpose" value='{{ purpose }}' required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="amount">Amount <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="amount" class="form-control col-md-7 col-xs-12" name="amount" value="{{ amount }}" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exposure">Exposure
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="exposure" class="form-control col-md-7 col-xs-12" name="exposure"  type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rate_of_interest">Rate Of Interest
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="rate_of_interest" id="rate_of_interest" class="form-control col-md-7 col-xs-12">
                                                <option value="">--Select--</option>
                                                <option value="Applicable">Applicable</option>
                                                <option value="Demand">Demand</option>
                                                <option value="Recommended">Recommended</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="repayment">Repayment
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="repayment" class="form-control col-md-7 col-xs-12" name="repayment"  type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="security_ties">Security/ties
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="security_ties" id="security_ties" class="form-control col-md-7 col-xs-12">
                                                <option value="">--Select--</option>
                                                <option value="Prime">Prime</option>
                                                <option value="Collateral">Collateral</option>
                                            </select>
                                        </div>
                                    </div>




<!--                                    <img id="loading"    width="300" height="300" src="file_upload/loader.gif" /> &lt;!&ndash; Loading Image&ndash;&gt;-->
                                    <div id="loading2" style="display:none;"><img src="http://article.onlinewebtool.com/wp-content/images/loading.gif" alt="" />Loading!</div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</div>





{% endblock %}

{% block extra_js %}

{% endblock extra_js %}

