{% extends 'LoanCore/base.html' %}

{% load static %}

{% block body  %}


<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                    <form  method="POST" action="" class="form-horizontal form-label-left" >
                        {% csrf_token %}
                        <span class="section">Add Nature Of Security Details</span>

                        <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th class="column-title">Particulars </th>
                                <th class="column-title">ABS-2017 </th>
                                <th class="column-title">ABS-2018 </th>
                                <th class="column-title">ABS-2019 </th>
                                <th class="column-title">Projected </th>

                            </tr>
                            </thead>
                            <tbody>


                            <tr>
                                <td>
                                    <h4>Capital/ Net Worth</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="capital_first" class="form-control col-md-12 col-xs-12" name="capital_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="capital_second" class="form-control col-md-12 col-xs-12" name="capital_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="capital_third" class="form-control col-md-12 col-xs-12" name="capital_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="capital_projected" class="form-control col-md-12 col-xs-12" name="capital_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Reserves</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="reserves_first" class="form-control col-md-12 col-xs-12" name="reserves_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="reserves_second" class="form-control col-md-12 col-xs-12" name="reserves_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="reserves_third" class="form-control col-md-12 col-xs-12" name="reserves_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="reserves_projected" class="form-control col-md-12 col-xs-12" name="reserves_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Unsecured Loan from friends & Relatives</h4>
                                </td>

                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="unsecured_loan_1_first" class="form-control col-md-12 col-xs-12" name="unsecured_loan_1_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="unsecured_loan_1_second" class="form-control col-md-12 col-xs-12" name="unsecured_loan_1_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="unsecured_loan_1_third" class="form-control col-md-12 col-xs-12" name="unsecured_loan_1_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="unsecured_loan_1_projected" class="form-control col-md-12 col-xs-12" name="unsecured_loan_1_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Unsecured Loan-Others</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="unsecured_loan_others_first" class="form-control col-md-12 col-xs-12" name="unsecured_loan_others_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="unsecured_loan_others_second" class="form-control col-md-12 col-xs-12" name="unsecured_loan_others_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="unsecured_loan_others_third" class="form-control col-md-12 col-xs-12" name="unsecured_loan_others_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="unsecured_loan_others_projected" class="form-control col-md-12 col-xs-12" name="unsecured_loan_others_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Gross Profit</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="gross_profit_first" class="form-control col-md-12 col-xs-12" name="gross_profit_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="gross_profit_second" class="form-control col-md-12 col-xs-12" name="gross_profit_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="gross_profit_third" class="form-control col-md-12 col-xs-12" name="gross_profit_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="gross_profit_first_projected" class="form-control col-md-12 col-xs-12" name="gross_profit_first_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Interest on Term Loan</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_term_on_loan_first" class="form-control col-md-12 col-xs-12" name="interest_term_on_loan_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_term_on_loan_second" class="form-control col-md-12 col-xs-12" name="interest_term_on_loan_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_term_on_loan_third" class="form-control col-md-12 col-xs-12" name="interest_term_on_loan_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_term_on_loan_projected" class="form-control col-md-12 col-xs-12" name="interest_term_on_loan_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Total Capital Fund[01+02+03+04]</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_capital_fund_first" class="form-control col-md-12 col-xs-12" name="total_capital_fund_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_capital_fund_second" class="form-control col-md-12 col-xs-12" name="total_capital_fund_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_capital_fund_third" class="form-control col-md-12 col-xs-12" name="total_capital_fund_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_capital_fund_projected" class="form-control col-md-12 col-xs-12" name="total_capital_fund_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Term Loan - Bank</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="term_loan_bank_first" class="form-control col-md-12 col-xs-12" name="term_loan_bank_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="term_loan_bank_second" class="form-control col-md-12 col-xs-12" name="term_loan_bank_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="term_loan_bank_third" class="form-control col-md-12 col-xs-12" name="term_loan_bank_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="term_loan_bank_projected" class="form-control col-md-12 col-xs-12" name="term_loan_bank_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Term Loan – Others</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="term_loan_others_first" class="form-control col-md-12 col-xs-12" name="term_loan_others_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="term_loan_others_second" class="form-control col-md-12 col-xs-12" name="term_loan_others_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="term_loan_others_third" class="form-control col-md-12 col-xs-12" name="term_loan_others_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="term_loan_others_projected" class="form-control col-md-12 col-xs-12" name="term_loan_others_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>WCL- Bank Cash Credit 	</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="wcl_first" class="form-control col-md-12 col-xs-12" name="wcl_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="wcl_second" class="form-control col-md-12 col-xs-12" name="wcl_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="wcl_third" class="form-control col-md-12 col-xs-12" name="wcl_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="wcl_projected" class="form-control col-md-12 col-xs-12" name="wcl_projected"  type="text">
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h4>Sundry Creditors</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="sundry_first" class="form-control col-md-12 col-xs-12" name="sundry_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="sundry_second" class="form-control col-md-12 col-xs-12" name="sundry_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="sundry_third" class="form-control col-md-12 col-xs-12" name="sundry_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="sundry_projected" class="form-control col-md-12 col-xs-12" name="sundry_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Other Current Liabilities</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="other_current_liabilities_first" class="form-control col-md-12 col-xs-12" name="other_current_liabilities_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="other_current_liabilities_second" class="form-control col-md-12 col-xs-12" name="other_current_liabilities_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="other_current_liabilities_third" class="form-control col-md-12 col-xs-12" name="other_current_liabilities_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="other_current_liabilities_projected" class="form-control col-md-12 col-xs-12" name="other_current_liabilities_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Total Current Liabilities [06 to 10]</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_current_liabilities_first" class="form-control col-md-12 col-xs-12" name="total_current_liabilities_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_current_liabilities_second" class="form-control col-md-12 col-xs-12" name="total_current_liabilities_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_current_liabilities_third" class="form-control col-md-12 col-xs-12" name="total_current_liabilities_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_current_liabilities_projected" class="form-control col-md-12 col-xs-12" name="total_current_liabilities_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Fixed Assets</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="fixed_asset_first" class="form-control col-md-12 col-xs-12" name="fixed_asset_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="fixed_asset_second" class="form-control col-md-12 col-xs-12" name="fixed_asset_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="fixed_asset_third" class="form-control col-md-12 col-xs-12" name="fixed_asset_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="fixed_asset_projected" class="form-control col-md-12 col-xs-12" name="fixed_asset_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Investments</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="investments_first" class="form-control col-md-12 col-xs-12" name="investments_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="investments_second" class="form-control col-md-12 col-xs-12" name="investments_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="investments_third" class="form-control col-md-12 col-xs-12" name="investments_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="investments_projected" class="form-control col-md-12 col-xs-12" name="investments_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Inter-firm investments</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="inter_firm_investments_first" class="form-control col-md-12 col-xs-12" name="inter_firm_investments_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="inter_firm_investments_second" class="form-control col-md-12 col-xs-12" name="inter_firm_investments_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="inter_firm_investments_third" class="form-control col-md-12 col-xs-12" name="inter_firm_investments_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="inter_firm_investments_projected" class="form-control col-md-12 col-xs-12" name="inter_firm_investments_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Other Loans & Advances</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="loan_advance_first" class="form-control col-md-12 col-xs-12" name="loan_advance_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="loan_advance_second" class="form-control col-md-12 col-xs-12" name="loan_advance_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="loan_advance_third" class="form-control col-md-12 col-xs-12" name="loan_advance_third"  type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="loan_advance_projected" class="form-control col-md-12 col-xs-12" name="loan_advance_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Non Current Assets</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="non_current_assets_first" class="form-control col-md-12 col-xs-12" name="non_current_assets_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="non_current_assets_second" class="form-control col-md-12 col-xs-12" name="non_current_assets_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="non_current_assets_third" class="form-control col-md-12 col-xs-12" name="non_current_assets_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="non_current_assets_projected" class="form-control col-md-12 col-xs-12" name="non_current_assets_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>S. Debtors</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="s_debtors_first" class="form-control col-md-12 col-xs-12" name="s_debtors_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="s_debtors_second" class="form-control col-md-12 col-xs-12" name="s_debtors_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="s_debtors_third" class="form-control col-md-12 col-xs-12" name="s_debtors_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="s_debtors_projected" class="form-control col-md-12 col-xs-12" name="s_debtors_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Total Stock</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_stock_first" class="form-control col-md-12 col-xs-12" name="total_stock_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_stock_second" class="form-control col-md-12 col-xs-12" name="total_stock_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_stock_third" class="form-control col-md-12 col-xs-12" name="total_stock_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_stock_projected" class="form-control col-md-12 col-xs-12" name="total_stock_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Other Current Assets</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="other_current_assets_first" class="form-control col-md-12 col-xs-12" name="other_current_assets_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="other_current_assets_second" class="form-control col-md-12 col-xs-12" name="other_current_assets_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="other_current_assets_third" class="form-control col-md-12 col-xs-12" name="other_current_assets_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="other_current_assets_projected" class="form-control col-md-12 col-xs-12" name="other_current_assets_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Total Current Assets</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_current_assets_first" class="form-control col-md-12 col-xs-12" name="total_current_assets_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_current_assets_second" class="form-control col-md-12 col-xs-12" name="total_current_assets_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_current_assets_third" class="form-control col-md-12 col-xs-12" name="total_current_assets_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_current_assets_projected" class="form-control col-md-12 col-xs-12" name="total_current_assets_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Total Current Liab</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_current_liab_first" class="form-control col-md-12 col-xs-12" name="total_current_liab_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_current_liab_second" class="form-control col-md-12 col-xs-12" name="total_current_liab_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_current_liab_third" class="form-control col-md-12 col-xs-12" name="total_current_liab_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_current_liab_projected" class="form-control col-md-12 col-xs-12" name="total_current_liab_projected"   type="text">
                                    </div>
                                </td>

                            </tr><tr>
                                <td>
                                    <h4>Net sales</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="net_sales_first" class="form-control col-md-12 col-xs-12" name="net_sales_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="net_sales_second" class="form-control col-md-12 col-xs-12" name="net_sales_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="net_sales_third" class="form-control col-md-12 col-xs-12" name="net_sales_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="net_sales_projected" class="form-control col-md-12 col-xs-12" name="net_sales_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Net Purchases</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="net_purchases_first" class="form-control col-md-12 col-xs-12" name="net_purchases_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="net_purchases_second" class="form-control col-md-12 col-xs-12" name="net_purchases_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="net_purchases_third" class="form-control col-md-12 col-xs-12" name="net_purchases_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="net_purchases_projected" class="form-control col-md-12 col-xs-12" name="net_purchases_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Gross Profit</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="gross_profit_first" class="form-control col-md-12 col-xs-12" name="gross_profit_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="gross_profit_second" class="form-control col-md-12 col-xs-12" name="gross_profit_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="gross_profit_third" class="form-control col-md-12 col-xs-12" name="gross_profit_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="gross_profit_projected" class="form-control col-md-12 col-xs-12" name="gross_profit_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Interest – Other than Bank Loans</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_other_than_bank_loans_first" class="form-control col-md-12 col-xs-12" name="interest_other_than_bank_loans_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_other_than_bank_loans_second" class="form-control col-md-12 col-xs-12" name="interest_other_than_bank_loans_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_other_than_bank_loans_third" class="form-control col-md-12 col-xs-12" name="interest_other_than_bank_loans_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_other_than_bank_loans_projected" class="form-control col-md-12 col-xs-12" name="interest_other_than_bank_loans_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Interest on Bank Loans</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_on_bank_loans_first" class="form-control col-md-12 col-xs-12" name="interest_on_bank_loans_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_on_bank_loans_second" class="form-control col-md-12 col-xs-12" name="interest_on_bank_loans_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_on_bank_loans_third" class="form-control col-md-12 col-xs-12" name="interest_on_bank_loans_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_on_bank_loans_projected" class="form-control col-md-12 col-xs-12" name="interest_on_bank_loans_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Interest on Partners’/Directors’ loan</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_partner_director_loan_first" class="form-control col-md-12 col-xs-12" name="interest_partner_director_loan_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_partner_director_loan_second" class="form-control col-md-12 col-xs-12" name="interest_partner_director_loan_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="interest_partner_director_loan_third" class="form-control col-md-12 col-xs-12" name="interest_partner_director_loan_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="interest_partner_director_loan_projected" class="form-control col-md-12 col-xs-12" name="interest_partner_director_loan_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Depreciation</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="depreciation_first" class="form-control col-md-12 col-xs-12" name="depreciation_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="depreciation_second" class="form-control col-md-12 col-xs-12" name="depreciation_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="depreciation_third" class="form-control col-md-12 col-xs-12" name="depreciation_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="depreciation_projected" class="form-control col-md-12 col-xs-12" name="depreciation_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Partners’ Salary</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="partner_salary_first" class="form-control col-md-12 col-xs-12" name="partner_salary_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="partner_salary_second" class="form-control col-md-12 col-xs-12" name="partner_salary_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="partner_salary_third" class="form-control col-md-12 col-xs-12" name="partner_salary_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="partner_salary_projected" class="form-control col-md-12 col-xs-12" name="partner_salary_projected"   type="text">
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h4>Net profit</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="net_profit_first" class="form-control col-md-12 col-xs-12" name="net_profit_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="net_profit_second" class="form-control col-md-12 col-xs-12" name="net_profit_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="net_profit_third" class="form-control col-md-12 col-xs-12" name="net_profit_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="net_profit_projected" class="form-control col-md-12 col-xs-12" name="net_profit_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Total Cash Generation [27 TO 30]</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_cash_generation_first" class="form-control col-md-12 col-xs-12" name="total_cash_generation_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_cash_generation_second" class="form-control col-md-12 col-xs-12" name="total_cash_generation_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="total_cash_generation_third" class="form-control col-md-12 col-xs-12" name="total_cash_generation_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="total_cash_generation_projected" class="form-control col-md-12 col-xs-12" name="total_cash_generation_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Turnover Ratio@ – in days</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="turnover_ratio_first" class="form-control col-md-12 col-xs-12" name="turnover_ratio_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="turnover_ratio_second" class="form-control col-md-12 col-xs-12" name="turnover_ratio_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="turnover_ratio_third" class="form-control col-md-12 col-xs-12" name="turnover_ratio_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="turnover_ratio_projected" class="form-control col-md-12 col-xs-12" name="turnover_ratio_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Debtors’ velocity – in days</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="debtors_velocity_first" class="form-control col-md-12 col-xs-12" name="debtors_velocity_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="debtors_velocity_second" class="form-control col-md-12 col-xs-12" name="debtors_velocity_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="debtors_velocity_third" class="form-control col-md-12 col-xs-12" name="debtors_velocity_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="debtors_velocity_projected" class="form-control col-md-12 col-xs-12" name="debtors_velocity_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Creditors’ Velocity – in days</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="creditors_velocity_first" class="form-control col-md-12 col-xs-12" name="creditors_velocity_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="creditors_velocity_second" class="form-control col-md-12 col-xs-12" name="creditors_velocity_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="creditors_velocity_third" class="form-control col-md-12 col-xs-12" name="creditors_velocity_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <inputerm_loan_bank_secondterm_loan_bank_secondt id="creditors_velocity_projected" class="form-control col-md-12 col-xs-12" name="creditors_velocity_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Current Ratio (Current Assets/Current liab)</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="current_ratio_first" class="form-control col-md-12 col-xs-12" name="current_ratio_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="current_ratio_second" class="form-control col-md-12 col-xs-12" name="current_ratio_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="current_ratio_third" class="form-control col-md-12 col-xs-12" name="current_ratio_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="current_ratio_projected" class="form-control col-md-12 col-xs-12" name="current_ratio_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Debt Equity Ratio</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="debt_equity_ratio_first" class="form-control col-md-12 col-xs-12" name="debt_equity_ratio_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="debt_equity_ratio_second" class="form-control col-md-12 col-xs-12" name="debt_equity_ratio_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="debt_equity_ratio_third" class="form-control col-md-12 col-xs-12" name="debt_equity_ratio_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="debt_equity_ratio_projected" class="form-control col-md-12 col-xs-12" name="debt_equity_ratio_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>MPBF-Method I/II</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="mpbf_method_1_first" class="form-control col-md-12 col-xs-12" name="mpbf_method_1_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="mpbf_method_1_second" class="form-control col-md-12 col-xs-12" name="mpbf_method_1_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="mpbf_method_1_third" class="form-control col-md-12 col-xs-12" name="mpbf_method_1_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="mpbf_method_1_projected" class="form-control col-md-12 col-xs-12" name="mpbf_method_1_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>MPBF-Turnover basis [20%]</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="mpbf_turnover_basis_first" class="form-control col-md-12 col-xs-12" name="mpbf_turnover_basis_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="mpbf_turnover_basis_second" class="form-control col-md-12 col-xs-12" name="mpbf_turnover_basis_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="mpbf_turnover_basis_third" class="form-control col-md-12 col-xs-12" name="mpbf_turnover_basis_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="mpbf_turnover_basis_projected" class="form-control col-md-12 col-xs-12" name="mpbf_turnover_basis_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>Drawing Power</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="drawing_power_first" class="form-control col-md-12 col-xs-12" name="drawing_power_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="drawing_power_second" class="form-control col-md-12 col-xs-12" name="drawing_power_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="drawing_power_third" class="form-control col-md-12 col-xs-12" name="drawing_power_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="drawing_power_projected" class="form-control col-md-12 col-xs-12" name="drawing_power_projected"   type="text">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>DSCR</h4>
                                </td>


                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="dscr_first" class="form-control col-md-12 col-xs-12" name="dscr_first"  type="text">
                                    </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="dscr_second" class="form-control col-md-12 col-xs-12" name="dscr_second"  type="text">
                                </div>
                                </td>
                                <td><div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="dscr_third" class="form-control col-md-12 col-xs-12" name="dscr_third"   type="text">
                                </div>
                                </td>
                                <td>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input id="dscr_fourth" class="form-control col-md-12 col-xs-12" name="dscr_fourth"   type="text">
                                    </div>
                                </td>

                            </tr>

                            </tbody>
                        </table>




                        <!--                                    <img id="loading"    width="300" height="300" src="file_upload/loader.gif" /> &lt;!&ndash; Loading Image&ndash;&gt;-->
                        <div id="loading2" style="display:none;"><img src="http://article.onlinewebtool.com/wp-content/images/loading.gif" alt="" />Loading!</div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-9">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
</div>


</div>





{% endblock %}

{% block extra_js %}

{% endblock extra_js %}

