{% extends 'LoanCore/base.html' %}



{% block body  %}


<div class="right_col" role="main">


<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">

                            <div class="x_content">

                                <form  method="POST" action="" class="form-horizontal form-label-left" >
                                        {% csrf_token %}
                                    <span class="section">Add Customer Details</span>





                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_name">Customer Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_name" class="form-control col-md-7 col-xs-12" name="cust_name" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_email">Customer Email <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_email" class="form-control col-md-7 col-xs-12" name="cust_email" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_dob">Customer Date Of Birth
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_dob" class="form-control col-md-7 col-xs-12" name="cust_dob"  type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_address">Customer Address <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea id="cust_address" required="required" name="cust_address" class="form-control col-md-7 col-xs-12"></textarea>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_tel1">Telephone1 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_tel1" class="form-control col-md-7 col-xs-12" name="cust_tel1" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_tel2">Telephone2
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_tel2" class="form-control col-md-7 col-xs-12" name="cust_tel2"  type="text">
                                        </div>
                                    </div>


<!--                                    <img id="loading"    width="300" height="300" src="file_upload/loader.gif" /> &lt;!&ndash; Loading Image&ndash;&gt;-->
                                    <div id="loading2" style="display:none;"><img src="http://article.onlinewebtool.com/wp-content/images/loading.gif" alt="" />Loading!</div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



    </div>




{% endblock %}