
{% extends 'LoanCore/base.html' %}

{% block body  %}
<div class="right_col" role="main">

    <div class="page-title">
        <div class="title_left">
            <h3>Financial Analysis</h3>
        </div>


    </div>
    <div class="clearfix"></div>
    <div class="row">

        <div class="x_content">
            <table id="datatable-responsive1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Application ID</th>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Inward No</th>
                    <th>Inward Date</th>
                    <th>Amount</th>
                    <th>Manage</th>
                </tr>
                </thead>
                <tbody>

                {% for app_detail in app_details %}
                <tr>
                    <td>{{ app_detail.app_id }}</td>
                    <td>{{ app_detail.cust_id }}</td>
                    <td>{{ app_detail.cust_id.cust_name }}</td>
                    <td>{{ app_detail.inward_no }}</td>
                    <td>{{ app_detail.inward_date }}</td>
                    <td>{{ app_detail.loan_amount }}</td>
                    <td>
                        <a href="{% url 'create_financial_analysis' app_detail.l_id %}"
                           class="btn bb1"><i class="fa fa-plus"></i> Add</a>
                    </td>
                </tr>
                {% endfor %}


                </tbody>
            </table>

        </div>




    </div>


</div>

{% endblock %}
