
{% extends 'LoanCore/base.html' %}

{% block body  %}
<div class="right_col" role="main">

<div class="page-title">
                    <div class="title_left">
                        <h3>Form Issue</h3>
                    </div>


                </div>
    <div class="clearfix"></div>
     <div class="row">


<a href="{% url 'create_customer_details' %}"> <button type="button" class="btn btn-success">Add New</button> </a>

<div class="x_content">
       <table id="datatable-responsive1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Customer ID</th>
                                        <th>Customer Name</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Manage</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                   {% for cust_detail in cust_details %}
                                        <tr>
                                            <td>{{ cust_detail.cust_id }}</td>
                                            <td>{{ cust_detail.cust_name }}</td>
                                            <td>{{ cust_detail.cust_tel1 }}</td>
                                            <td>{{ cust_detail.cust_email }}</td>

                                            <td>
                                                <a href="{% url 'create_form_issue' cust_detail.cust_id %}"
                                                   class="btn bb1"><i class="fa fa-plus"></i> Add</a>
<!--                                              <a href=""-->
<!--                                                   class="btn bb1"><i class="fa fa-trash"></i> DELETE</a>-->

                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>

</div>




      </div>


    </div>

 {% endblock %}
