{% extends 'LoanCore/base.html' %}



{% block body  %}


<div class="right_col" role="main">

<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">

                            <div class="x_content">

                                <form  method="POST" action="" class="form-horizontal form-label-left" >
                                        {% csrf_token %}
                                    <span class="section">Loan Form Inward </span>

                                    <input id="l_id" class="form-control col-md-7 col-xs-12" name="l_id" type="hidden" value = "{{ l_app_details.l_id }}">



                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_name">Customer Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_name" class="form-control col-md-7 col-xs-12" readonly name="cust_name" required="required" value="{{cust_details.cust_name}}" type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_tel1">Telephone1 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_tel1" class="form-control col-md-7 col-xs-12" readonly name="cust_tel1" value = "{{cust_details.cust_tel1}}" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="inward_no">Inward No <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="inward_no" class="form-control col-md-7 col-xs-12"  name="inward_no" required="required" type="text">
                                        </div>
                                    </div>


                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="inward_date">Inward Date
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="inward_date" class="form-control col-md-7 col-xs-12" name="inward_date"  type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loan_amount">Loan Amount <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="loan_amount" class="form-control col-md-7 col-xs-12" name="loan_amount" required="required" value="{{ l_app_details.loan_amount }}" type="text">
                                        </div>
                                    </div>



                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Check List
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <select name="checklist" class="form-control">
                                                <option value=''> -- Select --    </option>
                                                <option value='Option 1'> Option 1 </option>
                                                <option value='Option 2'> Option 2 </option>
                                                <option value='Option 3'> Option 3 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--                                    <img id="loading"    width="300" height="300" src="file_upload/loader.gif" /> &lt;!&ndash; Loading Image&ndash;&gt;-->
                                    <div id="loading2" style="display:none;"><img src="http://article.onlinewebtool.com/wp-content/images/loading.gif" alt="" />Loading!</div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


    </div>




{% endblock %}