{% extends 'LoanCore/base.html' %}

{% load crispy_forms_tags %}

{% block body  %}


<div class="right_col" role="main">
      <!-- top tiles -->
<!--      <div class="row tile_count">-->
<!--        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
<!--          <span class="count_top"><i class="fa fa-user"></i> Total Users</span>-->
<!--          <div class="count">2500</div>-->
<!--          <span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
<!--        </div>-->
<!--        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
<!--          <span class="count_top"><i class="fa fa-clock-o"></i> Average Time</span>-->
<!--          <div class="count">123.50</div>-->
<!--          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>-->
<!--        </div>-->
<!--        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
<!--          <span class="count_top"><i class="fa fa-user"></i> Total Males</span>-->
<!--          <div class="count green">2,500</div>-->
<!--          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
<!--        </div>-->
<!--        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
<!--          <span class="count_top"><i class="fa fa-user"></i> Total Females</span>-->
<!--          <div class="count">4,567</div>-->
<!--          <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>-->
<!--        </div>-->
<!--        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
<!--          <span class="count_top"><i class="fa fa-user"></i> Total Collections</span>-->
<!--          <div class="count">2,315</div>-->
<!--          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
<!--        </div>-->
<!--        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
<!--          <span class="count_top"><i class="fa fa-user"></i> Total Connections</span>-->
<!--          <div class="count">7,325</div>-->
<!--          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
<!--        </div>-->
<!--      </div>-->
      <!-- /top tiles -->

<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">

                            <div class="x_content">
                                {{ cust_details.cust_dob }}
                                <form  method="POST" action="" class="form-horizontal form-label-left" >
                                        {% csrf_token %}
                                    <span class="section">Update Customer Details</span>
                                    <input id="cust_id" class="form-control col-md-7 col-xs-12" name="cust_id" type="hidden" value = "{{ cust_details.cust_id }}">
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_name">Customer Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_name" class="form-control col-md-7 col-xs-12" name="cust_name" required="required" type="text" value = "{{ cust_details.cust_name }}">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_email">Customer Email <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_email" class="form-control col-md-7 col-xs-12" name="cust_email" required="required" type="text" value = "{{ cust_details.cust_email }}">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_dob">Customer Date Of Birth <span class="required">*</span>
                                        </label>
                                        <div class='col-md-3 col-sm-3 col-xs-3 input-group date' >
                                            <input type='text' id="cust_dob" name="cust_dob" value="{{ cust_details.cust_dob }}" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_address">Customer Address <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea id="cust_address" required="required" name="cust_address" class="form-control col-md-7 col-xs-12">{{ cust_details.cust_address }}</textarea>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_tel1">Telephone1 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_tel1" class="form-control col-md-7 col-xs-12" name="cust_tel1" required="required" type="text" value = "{{ cust_details.cust_tel1 }}">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cust_tel2">Telephone2
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="cust_tel2" class="form-control col-md-7 col-xs-12" name="cust_tel2"  type="text" value = "{{ cust_details.cust_tel2 }}">
                                        </div>
                                    </div>


<!--                                    <img id="loading"    width="300" height="300" src="file_upload/loader.gif" /> &lt;!&ndash; Loading Image&ndash;&gt;-->
                                    <div id="loading2" style="display:none;"><img src="http://article.onlinewebtool.com/wp-content/images/loading.gif" alt="" />Loading!</div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
<!--      <div class="row">-->


<!--<h1>-->
<!--    New/Update Customer Details </h1>-->

<!--<form method="POST" action=".">-->
<!--    {% csrf_token %}-->
<!--    {{ form|crispy }}-->
<!--    <button type="submit"> Save </button>-->
<!--</form>-->

<!--      </div>-->


    </div>

<script>

    $('#myDatepicker1').datetimepicker({
        format: 'YYYY-MM-DD'
    });

</script>


{% endblock %}

